Django==6.0.4
Pillow==11.1.0
django-allauth==65.4.1
django-crispy-forms==2.3
crispy-bootstrap5==2024.10
django-ckeditor==6.7.0
django-import-export==4.3.5
django-extensions==3.2.3
gunicorn==22.0.0
whitenoise==6.6.0
