Django==6.0.4
gunicorn
whitenoise
dj-database-url==2.1.0
Pillow==11.1.0
django-allauth==65.4.1
django-crispy-forms==2.3
crispy-bootstrap5==2024.10
django-ckeditor==6.7.0
django-import-export==4.3.5
django-extensions==3.2.3
