PORT=5000
NODE_ENV=development
FRONTEND_URLS=http://localhost:5173,https://examsaarthi.com
FRONTEND_PRIMARY_URL=http://localhost:5173

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
JWT_SECRET=
